package molecules

import (
    "github.com/niiniyare/ruun/views/components/atoms"
    "github.com/niiniyare/ruun/pkg/utils"
)

// FormFieldType defines the input type
type FormFieldType string

const (
    FormFieldText     FormFieldType = "text"
    FormFieldEmail    FormFieldType = "email" 
    FormFieldPassword FormFieldType = "password"
    FormFieldNumber   FormFieldType = "number"
    FormFieldTextarea FormFieldType = "textarea"
    FormFieldSelect   FormFieldType = "select"
    FormFieldCheckbox FormFieldType = "checkbox"
    FormFieldRadio    FormFieldType = "radio"
)

// FormFieldOption represents select/radio/checkbox options
type FormFieldOption struct {
    Value    string
    Label    string
    Selected bool
    Disabled bool
}

// FormFieldProps defines all properties for FormField molecule
type FormFieldProps struct {
    // Core properties
    ID          string
    Name        string
    Type        FormFieldType
    Label       string
    Value       string
    Placeholder string
    HelpText    string
    
    // Options for select/radio/checkbox
    Options     []FormFieldOption
    
    // State (pre-computed externally)
    Required    bool
    Disabled    bool
    Readonly    bool
    HasError    bool
    
    // Validation (pre-computed externally) 
    Errors      []string
    
    // Styling (pre-resolved externally)
    ClassName   string
    LabelClass  string
    InputClass  string
    ErrorClass  string
    
    // Event handlers (pre-resolved HTML attributes)
    OnChange    string
    OnBlur      string
    OnFocus     string
    OnInput     string
}

// getFieldClass builds CSS class string
func getFieldClass(props FormFieldProps) string {
    return utils.TwMerge(
        "form-field",
        utils.If(props.Required, "form-field-required"),
        utils.If(props.Disabled, "form-field-disabled"),
        utils.If(props.HasError, "form-field-error"),
        props.ClassName,
    )
}

// FormField renders a form field molecule with label, input, and validation
templ FormField(props FormFieldProps) {
    <div class={getFieldClass(props)}>
        // Label
        if props.Label != "" {
            @atoms.Label(atoms.LabelProps{
                For:       props.ID,
                Text:      props.Label,
                Required:  props.Required,
                Size:      atoms.LabelSizeMD,
                State:     utils.IfElse(props.Disabled, atoms.LabelStateDisabled, atoms.LabelStateDefault),
                ClassName: props.LabelClass,
            })
        }
        
        // Input based on type
        <div class="form-field-input">
            @renderInput(props)
        </div>
        
        // Help text
        if props.HelpText != "" {
            <div class="form-field-help">
                {props.HelpText}
            </div>
        }
        
        // Error messages
        if len(props.Errors) > 0 {
            <div class={utils.TwMerge("form-field-errors", props.ErrorClass)}>
                for _, error := range props.Errors {
                    <div class="form-field-error-message">
                        {error}
                    </div>
                }
            </div>
        }
    </div>
}

// renderInput renders the appropriate input based on type
templ renderInput(props FormFieldProps) {
    switch props.Type {
    case FormFieldText, FormFieldEmail, FormFieldPassword, FormFieldNumber:
        @atoms.Input(atoms.InputProps{
            ID:          props.ID,
            Name:        props.Name,
            Type:        atoms.InputType(props.Type),
            Value:       props.Value,
            Placeholder: props.Placeholder,
            Required:    props.Required,
            Disabled:    props.Disabled,
            Readonly:    props.Readonly,
            ClassName:   props.InputClass,
            OnChange:    props.OnChange,
            OnBlur:      props.OnBlur,
            OnFocus:     props.OnFocus,
            OnInput:     props.OnInput,
        })
        
    case FormFieldTextarea:
        @atoms.Textarea(atoms.TextareaProps{
            ID:          props.ID,
            Name:        props.Name,
            Value:       props.Value,
            Placeholder: props.Placeholder,
            Required:    props.Required,
            Disabled:    props.Disabled,
            Readonly:    props.Readonly,
            ClassName:   props.InputClass,
            OnChange:    props.OnChange,
            OnBlur:      props.OnBlur,
            OnFocus:     props.OnFocus,
            OnInput:     props.OnInput,
        })
        
    case FormFieldSelect:
        @atoms.Select(atoms.SelectProps{
            ID:        props.ID,
            Name:      props.Name,
            Value:     props.Value,
            Options:   convertToSelectOptions(props.Options),
            Required:  props.Required,
            Disabled:  props.Disabled,
            ClassName: props.InputClass,
            OnChange:  props.OnChange,
            OnBlur:    props.OnBlur,
            OnFocus:   props.OnFocus,
        })
        
    case FormFieldCheckbox:
        if len(props.Options) > 0 {
            for _, option := range props.Options {
                @atoms.Checkbox(atoms.CheckboxProps{
                    ID:       props.ID + "-" + option.Value,
                    Name:     props.Name,
                    Value:    option.Value,
                    Label:    option.Label,
                    Checked:  option.Selected,
                    Disabled: props.Disabled || option.Disabled,
                    Size:     atoms.CheckboxSizeMD,
                    State:    utils.IfElse(props.Disabled || option.Disabled, atoms.CheckboxStateDisabled, utils.IfElse(props.HasError, atoms.CheckboxStateError, atoms.CheckboxStateDefault)),
                    OnChange: props.OnChange,
                })
            }
        } else {
            @atoms.Checkbox(atoms.CheckboxProps{
                ID:       props.ID,
                Name:     props.Name,
                Value:    props.Value,
                Label:    props.Label,
                Checked:  props.Value == "true",
                Disabled: props.Disabled,
                Size:     atoms.CheckboxSizeMD,
                State:    utils.IfElse(props.Disabled, atoms.CheckboxStateDisabled, utils.IfElse(props.HasError, atoms.CheckboxStateError, atoms.CheckboxStateDefault)),
                OnChange: props.OnChange,
            })
        }
        
    case FormFieldRadio:
        for _, option := range props.Options {
            @atoms.Radio(atoms.RadioProps{
                ID:       props.ID + "-" + option.Value,
                Name:     props.Name,
                Value:    option.Value,
                Label:    option.Label,
                Checked:  option.Selected,
                Disabled: props.Disabled || option.Disabled,
                Size:     atoms.RadioSizeMD,
                State:    utils.IfElse(props.Disabled || option.Disabled, atoms.RadioStateDisabled, utils.IfElse(props.HasError, atoms.RadioStateError, atoms.RadioStateDefault)),
                OnChange: props.OnChange,
            })
        }
        
    default:
        @atoms.Input(atoms.InputProps{
            ID:          props.ID,
            Name:        props.Name,
            Type:        "text",
            Value:       props.Value,
            Placeholder: props.Placeholder,
            Required:    props.Required,
            Disabled:    props.Disabled,
            Readonly:    props.Readonly,
            ClassName:   props.InputClass,
            OnChange:    props.OnChange,
            OnBlur:      props.OnBlur,
            OnFocus:     props.OnFocus,
            OnInput:     props.OnInput,
        })
    }
}

// convertToSelectOptions converts FormField options to Select atom options
func convertToSelectOptions(options []FormFieldOption) []atoms.SelectOption {
    selectOptions := make([]atoms.SelectOption, len(options))
    for i, option := range options {
        selectOptions[i] = atoms.SelectOption{
            Value:    option.Value,
            Label:    option.Label,
            Selected: option.Selected,
            Disabled: option.Disabled,
        }
    }
    return selectOptions
}